
/* Universal */
body {
  background: linear-gradient(135deg, #7c20e6 , #0055b3 , #0caaf3);
  font-family: 'Assistant', sans-serif;
  min-height: 100vh;
}

/*.body {
  padding: 0rem;
  background: linear-gradient(315deg, #7C20E6 , #0055b3 , #0caaf3);
  border-radius: 10px;
  border: none;
}

.body .body-bg {
  padding: 0.5rem;
  background: white;
  border-radius: 10px;
}*/

@media only screen and (max-width: 400px) {
 
}

/* Navbar */
.navbar-light .navbar-nav .nav-link {
  color: white;
  border-bottom: 0.25rem solid transparent;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
  border-bottom: 0.25rem solid white;
}

.navbar-brand img{
  width: 75%;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler i {
  color: white;
}

.btn-login {
  background-color: #f78120;
  color: white;
  border-radius: 25px;
}

.btn-login:hover {
  background-color: #fc9745;
  color: white;
}

.btn-logout {
  background-color: white;
  border-radius: 5px;
  text-align: left;
}

.btn-logout:hover {
  background:  rgb(185, 185, 185);
}

.show {
  color: white;
}

.dropdown {
position: relative;
color: white;
}

.dropdown-menu {
  padding: 0.5rem;
  background:  white;
  border: 0.25rem solid #fc9745;
  border-radius: 10px;
  display: none;
  position: relative;
  min-width: 1rem;
}

.dropdown-item:hover {
  background:  rgb(185, 185, 185);
  border-radius: 5px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media only screen and (max-width: 400px) {
  .navbar {
    width: 100vw;
    position: fixed;
    bottom: 0;
    background: white;
    padding: 0;
    margin-left: -3.3%;
    z-index: 2;
  }

  .navbar-light .navbar-nav .nav-link {
    color: purple;
    border-bottom: 0.25rem solid transparent;
  }

  .navbar-light .navbar-nav .nav-link:before {
    color: purple;
    border-bottom: 0.25rem solid transparent;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    border-bottom: none;
  }

  .brand {
    display: none;
  }

  .navbar li {
    font-size: 12px;
  }

  .navbar .fa {
    size: 2rem;
  }

  .show {
    color: white;
  }
  
  .navbar .dropdown-menu {
    padding: 0.5rem;
    font-size: 12px;
    background:  unset;
    border: 0rem none;
  }
  .navbar .dropdown-item {
    color: white;
  }

  .navbar .dropdown-divider {
    display: none;
  }
  
  
  .navbar .btn {
    font-size: 12px;
  }

  .btn-login {
    font-size: 10px;
    background-color: initial;
    color: purple;
  }
  
  .btn-login:hover {
    background-color: initial;
    color: purple;
    font-size: 10px;
  }

}

/* Header -------------------------------*/
.header {
  /*background: linear-gradient(90deg, #0055b3, #0caaf3 100% );
  */
  padding-bottom: 1rem;
  color: white;
}

.header h1 {
  font-family: 'Playfair Display', serif;
}

.header .countdown {
  font-size: 28px;
}
.header .countdown .title-count{
  font-size: 20px;
}

.btn-choose {
  background: linear-gradient(90deg, #f78120,#fc9745,#f78120 100% );
  color: white;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.btn-choose:hover {
  background: linear-gradient(90deg, #fc9745,#f78120,#fc9745 100% );
  color: white;
}

.header .header-mobile {
  display: none;
}


@media only screen and (max-width: 400px) {
  .header {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 3rem;
  }
  
  .header h1 {
    margin-top: 3rem;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
  }

  .header p{
    font-size: 14px;
  }
  
  .header .img-header {
    display: none;
  }

  .header .countdown {
    font-size: 16px;
  }

  .header .countdown .title-count{
    font-size: 12px;
  }

  .header .header-mobile {
    padding-top: 1rem;
    margin: 2rem;
    display: block;
  }
}

/* Our Product */

.section-ourprod {
  background-color: white;
  padding: 3rem;
  border-top-right-radius: 5% ;
  border-top-left-radius: 5% ;
  color: black;
}

.section-ourprod .title h1{
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  color: #0055b3 ;
}

.section-ourprod .ourprod-inv {
  margin: 1rem 5rem;
  min-height: 250px;
  background: linear-gradient(45deg, #7C20E6 , #0055b3 , #0caaf3);
  padding: 0.5rem 1.25rem  ;
  /*background: white;
  */-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border-top-left-radius: 15% 75%;
}

.section-ourprod .ourprod-prod {
  margin: 1rem 5rem;
  min-height: 250px;
  background: linear-gradient(315deg, #7C20E6 , #0055b3 , #0caaf3);
  padding: 0.5rem 1.25rem;
  /*background: white;
  */-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border-bottom-right-radius: 15% 75%;
}

.section-ourprod .ourprod-inv-bg {
  padding: 0.5rem;
  min-height: 250px;
  background: white;
  border-radius: 10px;
  border-top-left-radius: 15% 75%;
}

.section-ourprod .ourprod-prod-bg {
  padding: 0.5rem;
  min-height: 250px;
  background: white;
  border-radius: 10px;
  border-bottom-right-radius: 15% 75%;
}

.section-ourprod .ourprod-inv .ourprod-inv-content {
  text-align: left;
}

.section-ourprod .ourprod-inv .ourprod-inv-content h2{
  color: #7C20E6;
  font-weight: bold;
}

.section-ourprod .ourprod-prod .ourprod-prod-content {
  text-align: right;
}

.section-ourprod .ourprod-prod .ourprod-prod-content h2{
  color: #7C20E6;
  font-weight: bold;
}

.section-ourprod .btn-ourprod {
  background: linear-gradient(90deg, #0055b3, #0978f7 100% );
  color: white;
  border-radius: 25px;
}

.section-ourprod .btn-ourprod:hover {
  background: linear-gradient(90deg, #0978f7, #0055b3 100% );
  color: white;
}


.section-ourprod .img-ourprod-inv img{
  height: 150px;
  transition: transform .2s;
}

.section-ourprod .img-ourprod-inv img:hover{
  transform: scale(1.2);
}


.section-ourprod .ourprod-prod .mobile img{
  display: none;
}

@media only screen and (max-width: 400px) {
  .section-ourprod {
    border-top-left-radius: 5% 1%;
    border-top-right-radius: 5% 1%;
    padding-top: 2rem;
    font-size: 12px;
  }
  
  .section-ourprod .title h1{
    padding-bottom: 1rem;
  }
  
  .section-ourprod .ourprod-inv {
    margin: 0rem 0 2rem 0;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
  }

  .section-ourprod .ourprod-inv-bg {
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
  }

  .section-ourprod .ourprod-prod {
    margin: 0rem 0 2rem 0;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
  }

  .section-ourprod .ourprod-prod-bg {
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
  }

  .section-ourprod .ourprod-prod .ourprod-prod-content {
    text-align: left !important;
  }

  .section-ourprod .ourprod-prod .mobile img{
    margin-left: 0.5rem;
    display: block;
  }
  
  .section-ourprod .ourprod-prod img {
    display: none;
  }
  
}

/* Package ------------------------------*/ 

.section-package {
  padding: 3rem;
  background-color: white;
  color: black;
}

.section-package .title h1{
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
  color: #0055b3;
}

.section-package .card-our-package {
  min-height: 450px;
  padding: 0.5rem;
  background: linear-gradient(315deg, #7C20E6 , #0055b3 , #0caaf3);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition: transform .2s;
}

.section-package .card-our-package .card-our-package-bg {
  padding: 0.5rem;
  min-height: 450px;
  background: white;
  border-radius: 10px;
}

.section-package .card-our-package:hover {
  transform: scale(1.1);
}

.section-package .card-our-package .feature-info {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section-package .card-our-package .package-title {
  padding: 2rem 0 0 0;
  font-weight: bold;
  font-size: 22px;
  color: #7C20E6;
}

.section-package .card-our-package .feature-info li {
  padding-left: 1.5rem;
  list-style: none;
  text-align: left;
}

.section-package .card-our-package .price small {
  color: green;
}

.section-package .card-our-package .price h5 {
  text-decoration: line-through;
  color: grey;
}

.section-package .card-our-package .price p {
  font-size: 32px;
  font-weight: bold;
}

.section-package .card-our-package .btn-package {
  background: linear-gradient(90deg, #0055b3, #0978f7 100% );
  color: white;
  border-radius: 25px;
  border: 0rem solid #7C20E6;
  align-items: center;
  margin-bottom: 1rem;
}

.section-package .card-our-package .btn-package:hover {
  background: linear-gradient(90deg, #0978f7, #0055b3 100% );
  color: white;
}

@media only screen and (max-width: 400px) {
  .section-package {
    font-size: 12px;
    padding: 2rem 0rem;
  }
  
  .section-package .card-our-package {
    min-height: 200px;
    padding: 0.5rem;
  }

  .section-package .card-our-package br {
    display: none;
  }
  
  .section-package .card-our-package .card-our-package-bg {
    min-height: 200px;
  }
  
  .section-package .card-our-package:hover {
    transform: scale(1);
  }
  
  .section-package .card-our-package .feature-info {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  .section-package .card-our-package .disc-title {
    height: 2rem;
  }
  
  .section-package .card-our-package .package-title {
    padding: 0.5rem 0 0 0;
    font-size: 12px;
   }
  
  .section-package .card-our-package .feature-info li {
    padding-left: 0.5rem;
    font-size: 10px;
  }

  .section-package .card-our-package .price small {
    color: green;
  }
  
  .section-package .card-our-package .price h5 {
    font-size: 12px;
  }
  
  .section-package .card-our-package .price p {
    font-size: 16px;
  }
  
  .section-package .card-our-package .btn-package {
    font-size: 10px;
  }
  
  .section-package .card-our-package .btn-package:hover {
    background: linear-gradient(90deg, #0978f7, #0055b3 100% );
    color: white;
  }
}

/* Product Detail-----------------------*/

.section-detail-product {
  background-color: white;
  border-top-right-radius: 5% ;
  border-top-left-radius: 5% ;
  border-bottom-right-radius: 5% ;
  border-bottom-left-radius: 5% ;
  color: black;
}

.section-product {
  padding: 3rem;
  background-color: transparent;
}

.section-product .title {
  padding-bottom: 3rem;
  color: #0055b3;
  font-weight: bold;
}


.section-product .detail-product {
  padding: 0.5rem;
  min-height: 400px;
  background: linear-gradient(315deg, #7C20E6 , #0055b3 , #0caaf3);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.section-product .detail-product .detail-product-bg {
  padding: 0.5rem;
  min-height: 400px;
  background: white;
  border-radius: 10px;
}

.section-product .detail-product .product-title {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.section-product .detail-product .product-title p{
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  color: grey;
}

.section-product .detail-product .img-detail {
  width: 250px;
  height: 250px;
}

.section-product .detail-product  .disc-title {
  height: 3rem;
  width: 3rem;
  background: linear-gradient(90deg, #f78120,#fc9745,#f78120 100% );
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: -4rem;
  margin-left: 13rem;
  padding-top: 0.5rem;
  color: white;
  transform: rotate(-20deg);
}

.section-product .detail-product .price {
  text-align: center;
}

.section-product .detail-product .price .disc-normal{
  color: white;
}

.section-product .detail-product .price h5 {
  text-decoration: line-through;
  color: grey;
}

.section-product .detail-product .price small {
  color: green;
}

.section-product .detail-product .price p {
  font-size: 28px;
  font-weight: bold;
}

.section-product .detail-product .btn-order {
  background: linear-gradient(90deg, #0055b3, #0978f7 100% );
  color: white;
  border-radius: 25px;
}

.section-product .detail-product .btn-order:hover {
  background: linear-gradient(90deg, #0978f7, #0055b3 100% );
  color: white;
}

@media only screen and (max-width: 400px) {
  .section-detail-product {
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 5% 1%;
    border-bottom-left-radius: 5% 1%;
  }
  
  .section-product {
    padding: 0 0.5rem;
  }
  
  .section-product .title {
    padding: 1rem 0rem;
  }
  
  .section-product .title h1 {
    font-size: 16px;
  }

  .section-product .detail-product {
    padding: 0.2rem;
    min-height: 200px;
  }
  
  .section-product .detail-product .detail-product-bg {
    padding: 0.5rem;
    min-height: 200px;
  }
  
  .section-product .detail-product .product-title {
    padding-top: 0rem;
    font-size: 12px;
  }
  
  .section-product .detail-product .product-title p{
    margin-bottom: 0rem;
    font-size: 10px;
  }

  .section-product .detail-product .img-detail {
    width: 80px;
    height: 80px;
  }
  
  .section-product .detail-product .price {
    font-size: 12px;
  }
  
  .section-product .detail-product .price h5 {
    font-size: 12px;
  }
  
  .section-product .detail-product .price p {
    font-size: 12px;
  }

  .section-product .detail-product .price small {
    font-size: 10px;
  }
  
  .section-product .detail-product .btn-order {
    font-size: 10px;
    border-radius: 10px;
  }
  
  .section-product .detail-product .btn-order:hover {
    background: linear-gradient(90deg, #0978f7, #0055b3 100% );
    color: white;
  }
}

/* Orders Product */

.section-order {
  background-color: white;
  border-top-right-radius: 5% ;
  border-top-left-radius: 5% ;
  border-bottom-right-radius: 5% ;
  border-bottom-left-radius: 5% ;
  color: black;
}

.section-order .title {
  padding-bottom: 2rem;
  color: #0055b3;
  font-weight: 900;
}

.section-order .detail-product {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.section-order .detail-product .product-title {
  padding-top: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.section-order .detail-product .product-title p{
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  color: grey;
}

.section-order .detail-product .img-detail {
  
  width: 250px;
  height: 250px;
}

.section-order .detail-order {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.section-order .detail-order .order-title {
  padding: 1rem;
  font-weight: bold;
  font-size: 20px;
}

.section-order .detail-order .btn-confirm {
  background: linear-gradient(90deg, #15b300, #09f71d 100% );
  color: white;
  border-radius: 25px;
}

.section-order .detail-order .btn-confirm:hover {
  background: linear-gradient(90deg, #11f709, #00b309 100% );
  color: white;
}

.section-order .detail-order .btn-cancel {
  background: linear-gradient(90deg, #b30000, #f70909 100% );
  color: white;
  border-radius: 25px;
}

.section-order .detail-order .btn-cancel:hover {
  background: linear-gradient(90deg, #f70909, #b30000 100% );
  color: white;
}

.section-order .detail-order .btn-order {
  background: linear-gradient(90deg, #0055b3, #0978f7 100% );
  color: white;
  border-radius: 25px;
}

.section-order .detail-order .btn-order:hover {
  background: linear-gradient(90deg, #0978f7, #0055b3 100% );
  color: white;
}

.section-order .detail-order .img-detail-mobile {
  display: none;
}

@media only screen and (max-width: 400px) {
  .section-order {
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 5% 1%;
    border-bottom-left-radius: 5% 1%;
    min-height: 85vh;
    padding-bottom: 2rem;
  }
  
  .section-order .title {
    padding: 1rem;
  }

  .section-order .title h1 {
    font-size: 16px;
  }
  
  .section-order .detail-product {
    display: none;
  }
  
  .section-order .detail-order .img-detail-mobile {
    width: 150px;
    height: 150px;
  }
  
  .section-order .detail-order {
    padding: 1rem;
    font-size: 12px;  
  }
  
  .section-order .detail-order .order-title {
    font-size: 12px;
  }
  
  .section-order .detail-order .payment {
    font-size: 12px;
  }
  
  
}
/* Sukses */

.section-success {
  background-color: white;
  border-top-right-radius: 5% ;
  border-top-left-radius: 5% ;
  border-bottom-right-radius: 5% ;
  border-bottom-left-radius: 5% ;
  color: black;
}

.section-success .content-success {
  margin: 2rem;
}

.section-success .btn-success {
  background: linear-gradient(90deg, #0055b3, #0978f7 100% );
  color: white;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.section-success .btn-success :hover {
  background: linear-gradient(90deg, #0978f7, #0055b3 100% );
  color: white;
}

@media only screen and (max-width: 400px) {
  .section-success {
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 5% 1%;
    border-bottom-left-radius: 5% 1%;
    min-height: 85vh;
  }
  
  .section-success .content-success {
    margin: 2rem;
  }
  
  .section-success .btn-success {
    background: linear-gradient(90deg, #0055b3, #0978f7 100% );
    color: white;
    border-top-right-radius: 10% 50%;
    border-bottom-right-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
  }
  .section-success .btn-success :hover {
    background: linear-gradient(90deg, #0978f7, #0055b3 100% );
    color: white;
  }
}



/* Testimoni*/

.section-testimonial {
  background: white;
  border-bottom-right-radius: 5% ;
  border-bottom-left-radius: 5% ;
  padding: 3rem;
  color: white;
}

.section-testimonial h2 {
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    color: #0055b3;
}

.section-testimonial-content .card-testimonial {
  padding: 1rem;
  background: linear-gradient(45deg, #7C20E6 , #0055b3 , #0caaf3);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin-bottom: 1rem;
}

.section-testimonial-content .card-testimonial img {
  margin-bottom: -1.5rem;
  z-index: 1;
  width: 80px;
  border: 0.25rem solid #7c20e6;
}

.section-testimonial-content .card-testimonial .testimonial {
  background: linear-gradient(
    to right bottom,
    rgba(252, 250, 250, 0.8),  
    rgba(255, 255, 255, 0.6)
    );
  backdrop-filter: blur(5rem);
  border-radius: 10px;
  color: black;
  font-style: italic;
  font-size: 18px;
}

.section-testimonial-content .card-testimonial .username {
  font-size: 18px;
  font-weight: bold;
}

@media only screen and (max-width: 400px){
  .section-testimonial {
    border-bottom-right-radius: 5% 1%;
    border-bottom-left-radius: 5% 1%;
    padding: 2rem
  }
  
  .section-testimonial-content .card-testimonial {
    padding: 0.5rem;
  }
  
  .section-testimonial-content .card-testimonial img {
    margin-bottom: -1.5rem;
    z-index: 1;
    width: 50px;
    border: 0.25rem solid #7c20e6;
  }
  
  .section-testimonial-content .card-testimonial .testimonial {
    padding-top: 2rem;
    font-size: 12px;
  }
  
  .section-testimonial-content .card-testimonial .username {
    font-size: 12px;
  }
  
  .section-input-testimoni {
    min-height: 80vh;
  }

  .section-input-testimoni h1 {
    font-size: 16px;
  }

  .section-input-testimoni input {
    font-size: 12px;
  }

  .section-input-testimoni .btn {
    font-size: 12px;
  }
  
  .section-input-testimoni .body {
    margin-top: 25%;
  }
}
/* Footer */

.footer {
  color: white;
  font-style: italic;
  font-size: 12px;
}

.footer .site-feature {
  text-align: left;
}

.footer li {
  list-style: none;
}

.footer li .title {
  font-size: 16px;
  font-weight: bold;
}

.footer .site-copyright {
  padding-bottom: 10PX;
  text-align: center;
  opacity: 50%;
}


.section-dinvitation-content {
  margin-top: 0px;
  min-height: 100vh;
}

@media only screen and (max-width: 400px) {
  .footer .site-feature {
    display: none;
  }
  
  .footer {
    margin-bottom: 3rem;
  }
}

/* Login */

.card-login {
  margin: 1rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;  
  background-color: white;
}

.card-login .body-bg {
  padding: 2rem;
}

.form-label {
  margin-top: 1rem;
  text-align: left;
  font-weight: bold;
}

.form-check {
  text-align: left;
}

.login .img-header img {

  margin-left: 0rem;
  margin-bottom: 0rem;
}

@media only screen and (max-width: 400px) {
  .card-login {
    margin-top: 30%;
  }

  .login .img-header img {
    width: 50%;
    margin-left: 0rem;
    margin-bottom: 1rem;
  }
}

/* Register */


.register .card-register {
  margin: 1rem;
  min-height: 400px;
  background-color: #EBF5FB;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.register .body-bg {
  padding: 2rem;
}

.register .form-group {
  margin-top: 1rem;
  text-align: left;
  font-weight: bold;
}

.card-reset {
  margin-top: 8rem;
  background-color: #EBF5FB;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.register .logo {
  width: 25%;
}

@media only screen and (max-width: 400px) {
  .register .card-register {
    margin-top: 10%;
    font-size: 14px;
  }
  
  .register .body-bg {
    padding: 0.5rem;
  }
  
  .register .logo {
    width: 50%;
    padding: 1rem 0;
  }
  .register .form-group {
    margin-top: 0.5rem;
  }
  
  .register .btn {
    font-size: 14px;
    margin: 0.5rem 0 ;
  }

  .card-reset {
    margin: 50% 1rem 0 ;
  }

  .card-reset .body-bg img {
    width: 50% !important;
  }
}

/* My Order -----------------------*/

.section-myorder {
  background-color: white;
  border-top-right-radius: 5% ;
  border-top-left-radius: 5% ;
  border-bottom-right-radius: 5% ;
  border-bottom-left-radius: 5% ;
}

.section-myorder .body {
  padding: 0.5rem;
  background: linear-gradient(315deg, #7C20E6 , #0055b3 , #0caaf3);
  border-radius: 10px;
  border: none;

}

.section-myorder .body .body-bg {
  padding: 0.5rem;
  background: white;
  border-radius: 10px;
}

.section-myorder a {
  background: white;
}

.section-myorder-detail {
  background-color: white;
  border-top-right-radius: 5% 1%;
  border-top-left-radius: 5% 1%;
  border-bottom-right-radius: 5% 1%;
  border-bottom-left-radius: 5% 1%;
}

.section-myorder-detail .body {
  padding: 0.5rem;
  background: linear-gradient(315deg, #7C20E6 , #0055b3 , #0caaf3);
  border-radius: 10px;
  border: none;
}

.section-myorder-detail .body .body-bg {
  padding: 0.5rem;
  background: white;
  border-radius: 10px;
}

.section-myorder-detail a {
  background: white;
  color: black;
}

.section-myorder-detail button {
  background: white;
  color: black;
}

.section-myorder-detail .mobile {
  display: none;
}

.section-myorder-detail .main {
  display: block;
}

@media only screen and (max-width: 400px) {
  .section-myorder {
    padding: 1rem 0rem;
    border-top-right-radius: 0% ;
    border-top-left-radius: 0% ;
    border-bottom-right-radius: 5% 1%;
    border-bottom-left-radius: 5% 1%;
  }

  .section-myorder .body {
    padding: 0.5rem 0rem;
    background: white ;
  }
  
  .section-myorder table {
    font-size: 12px;
  }
  
  .section-myorder a {
    font-size: 12px;
  }

  .section-myorder-detail {
    padding: 1rem 0rem;
    text-align: center;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
  }

  .section-myorder-detail .img-detail {
    width: 60%;
  }

  .section-myorder-detail .mobile {
    display: block;
  }

  .section-myorder-detail .main {
    display: none;
  }

  .section-myorder-detail .body {
    padding: 0.5rem 1rem;
    background: white ;
  }
  
  .section-myorder-detail table {
    font-size: 12px;
    text-align: left;
  }
  
  .section-myorder-detail a {
    font-size: 12px;
  }

  .section-myorder-detail button {
    font-size: 12px;
  }

  .section-myorder .page {
    font-size: 12px;
  }
}

/* up Bukti Transfer ---------------*/
.section-uptf .body {
  padding: 0.5rem;
  background: linear-gradient(315deg, #7C20E6 , #0055b3 , #0caaf3);
  border-radius: 10px;
  border: none;
}

.section-uptf .body .body-bg {
  padding: 0.5rem;
  background: white;
  border-radius: 10px;
}

.section-uptf .body .body-bg p{
  color: red;
  font-style: italic;
}

@media only screen and (max-width: 400px) {
  .section-uptf {
    min-height: 85vh;
    padding: 1rem;
  }

  .section-uptf .body {
    margin-top: 50%;
  }

  .section-uptf .body .body-bg h1 {
    font-size: 16px;
  }

  .section-uptf .body .body-bg input {
    font-size: 12px;
  }

  .section-uptf .body .body-bg p {
    font-size: 10px;
  }

  .section-uptf .body .body-bg .btn {
    font-size: 12px;
  }  
}

/*# sourceMappingURL=main.css.map */


/* Setting ---------------*/
.setting {
  background-color: rgb(235, 235, 235);
  border-top-right-radius: 5% ;
  border-top-left-radius: 5% ;
  border-bottom-right-radius: 5% ;
  border-bottom-left-radius: 5% ;
}

.setting .content {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.side-setting {
  background: white;
  padding: 3rem;
}

.side-setting h4{
  font-weight: bold;
}

.side-setting h6{
  color: grey;
  font-style: italic;
}

.content-setting {
  background: linear-gradient(135deg, #7c20e6 , #0055b3 , #0caaf3 );
}

.content-setting label{
  color: white;
  padding-left: 0.5rem;
  font-weight: bold;
}

.content-setting .cover-blur {
  background: rgba(252, 250, 250, 0.1);
  backdrop-filter: blur(2rem);
  margin: 0 -0.7rem;
}

.content-setting h3{
  color: white;
}

.content-setting hr{
  color: white;
}

.setting .btn-edit {
  background: #f78120;
  color: white;
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.setting .btn-edit:hover {
  background: #fc9745;
  color: white;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 400px) {
  .setting {
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 5% 1%;
    border-bottom-left-radius: 5% 1%;
    font-size: 12px;
    min-height: 85vh;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  
  .side-setting {
    padding: 1rem;
  }
  
  .side-setting h4{
    font-size: 14px;
  }
  
  .side-setting h6{
    font-size: 12px;
  }
  
  .content-setting label{
    font-weight: normal;
  }

  .content-setting input {
    font-size: 12px;
  }
  
  .content-setting .cover-blur {
    background: rgba(252, 250, 250, 0);
    backdrop-filter: blur(0rem);
    margin: 0 -0.7rem;
  }
  
  .content-setting h3{
    font-size: 14px;
  }
  
  .setting .btn-edit {
    font-size: 12px;
  }
  
  .setting .btn-edit:hover {
    font-size: 12px;
  }

  .setting .btn-danger {
    background: red;
    color: white;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 12px;
  }
  
  .setting .btn-danger:hover {
    background: rgba(255, 0, 0, 0.856);
    color: white;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}

/* Reset Password ---------------*/
.reset-password {
  min-height: 100vh;
  padding-top: 5%;
}

.reset-password .reset-pass {
  margin: 1rem;
  background-color: #EBF5FB;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.reset-password .logo {
  width: 25%;
  align-items: center;
}

.reset-password label {
  text-align: left;
}

@media only screen and (max-width:400px) {
  .reset-password {
    padding-top: 30%;
  }
  
  .reset-password .logo {
    width: 50%;
  }

}

/* Verify Password ---------------*/
.verify {
  min-height: 45vh;
  padding-top: 3%;
}

@media only screen and (max-width:400px) {
  .verify {
    min-height: 85vh;
    padding-top: 50%;
    font-size: 12px;
  }
  
  .verify .btn {
    font-size: 12px;
  }

}
/*carrousel*/
