
/* Universal */
body {
  background: linear-gradient(90deg, #0055b3, #0caaf3 75% );
  font-family: 'Assistant', sans-serif;
}

/* Navbar */
.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-light .navbar-nav .nav-link .active{
  color: white;
  font-weight: bold;
}

.navbar-brand img {
  max-height: 80px;
}

.btn-login {
  background-color: #0055b3;
  color: white;
}

.btn-login:hover {
  background-color: #0579fd;
  color: white;
}

.show {
  color: white;
}

.dropdown-menu {
  position: relative;
  background-color: transparent;
  border-style: none;
  color: white;
  display: none;
}

.dropdown-item {
  color: grey;
}
 .dropdown:hover .dropdown-menu {
   display: block;
   background-color: white;
 }

.dropdown-menu:hover .dropdown-submenu {
  display: block;  
}

/* Header */

.header {
  background: linear-gradient(45deg, #0055b3, #0caaf3 100% );
  border-bottom-right-radius: 25% 50%;
  padding: 180px 0 50px;
  margin-top: -110px;
  color: white;
}

.header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
}

.header p {
  font-size: 20px;
}

.btn-choose {
  background: linear-gradient(90deg, #f78120,#fc9745,#f78120 100% );
  color: white;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.btn-choose:hover {
  background: linear-gradient(90deg, #fc9745,#f78120,#fc9745 100% );
  color: white;
}

/* Our Product */

.section-ourprod {
  background: linear-gradient(#0caaf3, #e6f4f1 100%);
  background-color: #E6F4f1;
  padding: 50px;
  
}

.section-ourprod .title h1{
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
}

.section-ourprod .ourprod-inv {
  margin: 2rem 5rem;
  min-height: 250px;
  background-color: #EBF5FB;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border-bottom-left-radius: 15% 75%;
}

.section-ourprod .ourprod-prod {
  margin: 2rem 5rem;
  min-height: 250px;
  background-color: #EBF5FB;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  border-bottom-right-radius: 15% 75%;
}

.section-ourprod .ourprod-prod .ourprod-prod-content {
  text-align: right;
}

.section-ourprod .btn-ourprod {
  background: linear-gradient(90deg, #0055b3, #0978f7 100% );
  color: white;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.section-ourprod .btn-ourprod:hover {
  background: linear-gradient(90deg, #0978f7, #0055b3 100% );
  color: white;
}

/* Package */

.section-package {
  padding: 50px;
  background-color: #e6f4f1;
}

.section-package .title h1{
  font-family: 'Assistant', sans-serif;
  font-weight: bold;
}

.section-package .card-our-package {
  min-height: 450px;
  background-color: #EBF5FB;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding-bottom: 1rem;
}

.section-package .card-our-package .disc-title {
  width: 75%;
background: linear-gradient(90deg, #f78120,#fc9745,#f78120 100% );
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
}

.section-package .card-our-package .package-title {
  padding: 30px 0 0 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.section-package .card-our-package .feature-info li {
  list-style: none;
  text-align: left;
}

.section-package .card-our-package .feature-info .fa-check-circle {
  color: green;
}

.section-package .card-our-package hr {
  margin: 20px 10px 10px 10px;
}

.section-package .card-our-package .price {
  text-align: center;
  padding: 10px 0 10px 0;
}

.section-package .card-our-package .price h5 {
  text-decoration: line-through;
  color: grey;
}

.section-package .card-our-package .price p {
  font-size: 32px;
  font-weight: bold;
}

.section-package .card-our-package .btn-package {
  background: linear-gradient(90deg, #0055b3, #0978f7 100% );
  color: white;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  align-items: center;
}

.section-package .card-our-package .btn-package:hover {
  background: linear-gradient(90deg, #0978f7, #0055b3 100% );
  color: white;
}

/* Product Detail*/

.section-detail-product {
  background-color: #e6f4f1;
}

.section-product {
  padding: 50px;
  background-color: transparent;
}

.section-product .title {
  padding: 50px;
}

.section-product .detail-product {
  margin: 10px 10px 20px 10px;
  padding: 1rem;
  min-height: 400px;
  background-color: #EBF5FB;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.section-product .detail-product .product-title {
  padding: 30px 0 0 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.section-product .detail-product .img-detail {
  width: 250px;
  height: 250px;
}

.section-product .detail-product .price {
  text-align: center;
  padding: 10px 0 10px 0;
}

.section-product .detail-product .price h5 {
  text-decoration: line-through;
  color: grey;
}

.section-product .detail-product .price p {
  font-size: 28px;
  font-weight: bold;
}

.section-product .detail-product .btn-order {
  background: linear-gradient(90deg, #0055b3, #0978f7 100% );
  color: white;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.section-product .detail-product .btn-order:hover {
  background: linear-gradient(90deg, #0978f7, #0055b3 100% );
  color: white;
}

/* Orders Product */

.section-detail-order {
  background-color: #e6f4f1;
}

.section-order {
  padding: 50px;
  background-color: transparent;
}

.section-order .title {
  padding: 50px;
}

.section-order .detail-product {
  margin: 10px 10px 20px 10px;
  min-height: 400px;
  background-color: #EBF5FB;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.section-order .detail-product .product-title {
  padding: 30px 0 0 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.section-order .detail-product .img-detail {
  width: 250px;
  height: 250px;
}

.section-order .detail-product .price {
  text-align: center;
  padding: 10px 0 10px 0;
}

.section-order .detail-product .price h5 {
  text-decoration: line-through;
  color: grey;
}

.section-order .detail-product .price p {
  font-size: 28px;
  font-weight: bold;
}

.section-order .detail-order {
  margin: 10px 10px 40px 10px;
  min-height: 400px;
  background-color: #EBF5FB;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 20px;
}

.section-order .detail-order .order-title {
  padding: 0px 0 20px 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}


.section-order .detail-order .btn-order {
  background-color: #0055b3;
  color: white;
  border-radius: unset;
}

.section-order .detail-order .table-detail {
  table-layout: fixed;
}

.section-order .detail-product .btn-order:hover {
  background-color: #0579fd;
  color: white;
}

/* Sukses */

.section-success {
  background-color: white;
}

.section-success .content-success {
  margin: 3rem;
}

.section-success .btn-success {
  background: linear-gradient(90deg, #0055b3, #0978f7 100% );
  color: white;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.section-success .btn-success :hover {
  background: linear-gradient(90deg, #0978f7, #0055b3 100% );
  color: white;
}

/* Testimoni*/

.section-testimonial {
  background: linear-gradient( #e6f4f1, #0caaf3, #0055b3);
  padding: 50px;
}

.section-testimonial h2 {
    font-family: 'Assistant', sans-serif;
    font-weight: bold;

}


.section-testimonial-content .card-testimonial {
  padding: 25px 20px 10px 20px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 0px;
}

.section-testimonial-content .card-testimonial img {
  background-color: grey;
  width: 60px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-size: 18px;
}

.section-testimonial-content .card-testimonial .username {
  font-size: 18px;
  font-weight: bold;
}

/* Footer */

.footer {
  background-color: #0055b3;
  color: white;
  font-style: italic;
  font-size: 12px;
}

.footer .site-feature {
  text-align: left;
}

.footer li {
  list-style: none;
}

.footer li .title {
  font-size: 16px;
  font-weight: bold;
}

.footer .site-copyright {
  padding-bottom: 10PX;
  text-align: center;
  opacity: 50%;
}


.section-dinvitation-content {
  margin-top: 0px;
  min-height: 100vh;
}

/*# sourceMappingURL=main.css.map */