body {
    background-color: white;
    font-family: 'Assistant', sans-serif;
    color: black;
}

// Navbar

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: black;

            &.active {
                font-weight: bold;
            }
        }
    }
}

.navbar-brand {
     img {
         max-height: 40px;
     }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
    margin-right: 0px !important;

    height: 66px;
    border-radius: 0;
}

.btn-login {
    background-color: green;
    color: white;

    &:hover {
        background-color: rgb(23, 173, 23);
        color: white;
    }
}

// Header

header {
    padding: 180px 0 140px;
    margin-top: -66px;
    background-image: url('../images/Header_image.jpg');
    background-size: cover;

    h1, p {
        
        color: white;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    .btn-choose {
        background-color: green;
        color: white;
    
        &:hover {
            background-color: rgb(23, 173, 23);
            color: white;
        }
    }
}

//Our Product
.section-ourprod {
    padding : 50px 0 50px;
    font-family: 'Assistant', sans-serif;
    font-size: 40px;
    font-weight: bold;
    
    .section-ourprod-heading {
        padding: 0px 0 50px;
    }
    
    .section-ourprod-invite {
    
        h1 {
            font-size: 32px;
        }

        p{
            font-size: 24px;
            font-weight: normal;
        }
    }

    .section-ourprod-prod {
        text-align-last: right;
        h1 {
            font-size: 32px;
        }

        p{
            font-size: 24px;
            font-weight: normal;
        }
    }

    .card-ourprod {
        min-height: 250px;
        background-color: black;
        margin-bottom: 20px;
        color: white;  
    }

    .btn-cataloginvitation {
        background-color: green;
        color: white;
    
        &:hover {
            background-color: rgb(23, 173, 23);
            color: white;
        }
    }
}

// Our Package
.section-package{
    padding: 0 0 30px 0; 
    background-color: white;
    .title-section {
        padding : 0 0 30px 0;
    }
    .card-our-package {
        margin: 5px 5px 5px 5px;
        min-height: 450px;
        background-color: #EBF5FB;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        
        .disc-title {
            width: 75%;
            background-color: #F39C12 ;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .package-title {
            padding: 30px 0 0 0 ;
            font-weight: bold;
            font-size: 20px;
            text-align: center;
        }

        .feature-info {
            li {
                list-style: none;
            }

            .fa-check-circle {
                color: green;
            }
        }

        hr {
            margin : 20px 10px 10px 10px;
        }

        .price {
            text-align: center;
            padding: 10px 0 10px 0;
            h5 {
                text-decoration: line-through;
                color: grey;
            }

            p {
                font-size: 32px;
                font-weight: bold;
            }
        }
        .btn-package {
            //margin: 10px 0px 5px 0px;
            background-color: green;
            color: white;
            border-radius: unset;
            
            &:hover {
                background-color: rgb(23, 173, 23);
                color: white;
            }
        }
    
    }
}

//Footer

.footer {
    background-color: #404040;
    color: white;
    font-style: italic;
    font-size: 12px;
    
    .site-feature {
        text-align: left;
        
    }
    li {
        list-style: none;
        
        .title {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .site-copyright {
        padding-bottom: 10PX;
        text-align: center;
        opacity: 50%;
    }
}